@font-face {
    font-family: "SVN-Coder'sCrux";
    src: url("../fonts/SVN-Coder'sCrux.otf") format("truetype");
}

body {
    background-image: url("../images/background.png");
}

h1 {
    font-family: "SVN-Coder'sCrux", sans-serif;
    color: #bc7c92; /* Text color */
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9); /* Optional shadow for better effect */
    font-size: 96px;
    text-align: center;
}
