<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="~/love.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Valentines</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <h1>Will Linhbeo be my Valentine?</h1>
    <button class="button1" onmouseover="showGif('../images/1.gif')" onmouseout="hideGif()">Yes</button>
    <button class="button2" onmouseover="showGif('../images/2.gif')" onmouseout="hideGif()">No</button>

    <div id="gif-container">
        <img id="gif" src="~/images/3.gif" alt="Hover GIF">
    </div>

    <script src="~/js/home.js"></script>
</body>
</html>
